# Pandas Series

## Creating a Pandas Series

In [2]:
#import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['a','e','i','o','u'])
 
ser = pd.Series(data)
print(ser)


#Creating a series from Lists

import pandas as pd
 
# a simple list
list = ['a', 'e', 'i', 'o', 'u']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    a
1    e
2    i
3    o
4    u
dtype: object
0    a
1    e
2    i
3    o
4    u
dtype: object

## Accessing elements of series

In [ ]:
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['v', 'i', 's', 'm', 'i', 't', 'a', 's', 'a', 'x', 'e', 'n', 'a'])
ser = pd.Series(data)
  
#retrieve the first element
print(ser[:8])


#Accessing Element Using Label (index)

# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['v', 'i', 's', 'm', 'i', 't', 'a', 's', 'a', 'x', 'e', 'n', 'a'])
ser = pd.Series(data,index=[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])
  
# accessing a element using index element
print(ser[15])

## Indexing and Selecting Data in series

### Indexing a Series using indexing operator

In [22]:
import pandas as pd  
     
# making data frame  
df = pd.read_csv("https://s3-ap-southeast-1.amazonaws.com/av-datahack-datacamp/train.csv")  
   

data = ser.head(10)
data

10    v
11    i
12    s
13    m
14    i
15    t
16    a
17    s
18    a
19    x
dtype: object

## Binary operation on series

#### Example 1

In [24]:
import pandas as pd
data = pd.Series([34,55,90,11,8], index =['d','v','i','o','l'])
data1 = pd.Series([56,99,77,12,5], index =['b','j','h','s','m'])

print(data, "\n\n" ,data1)

d    34
v    55
i    90
o    11
l     8
dtype: int64

 b    56
j    99
h    77
s    12
m     5
dtype: int64

## Conversion operation on Series

In [27]:
import pandas as pd
data = pd.read_csv("COVID19_line_list_data.csv")


# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["case_in_country"]= data["case_in_country"].astype(int) 
data["Unnamed: 21"]= data["Unnamed: 21"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 id                         int64
case_in_country          float64
reporting date            object
Unnamed: 3               float64
summary                   object
location                  object
country                   object
gender                    object
age                      float64
symptom_onset             object
If_onset_approximated    float64
hosp_visit_date           object
exposure_start            object
exposure_end              object
visiting Wuhan             int64
from Wuhan               float64
death                     object
recovered                 object
symptom                   object
source                    object
link                      object
Unnamed: 21              float64
Unnamed: 22              float64
Unnamed: 23              float64
Unnamed: 24              float64
Unnamed: 25              float64
Unnamed: 26              float64
dtype: object

AFTER CONVERSION
 id                         int64
case_in_country            int32
reporting date            object
Unnamed: 3               float64
summary                   object
location                  object
country                   object
gender                    object
age                      float64
symptom_onset             object
If_onset_approximated    float64
hosp_visit_date           object
exposure_start            object
exposure_end              object
visiting Wuhan             int64
from Wuhan               float64
death                     object
recovered                 object
symptom                   object
source                    object
link                      object
Unnamed: 21               object
Unnamed: 22              float64
Unnamed: 23              float64
Unnamed: 24              float64
Unnamed: 25              float64
Unnamed: 26              float64
dtype: object

# Pandas Dataframe

### Creating a Pandas dataframe

In [29]:
#Creating a dataframe using List

# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['I', 'like','reading','inspirational','books']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)


#Creating DataFrame from dict of narray/lists

import pandas as pd
 
# intialise data of lists.
data = {'Name':['Manvi', 'Neeta', 'Shyam', 'Ram'], 'Age':[26,34,16,19]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

               0
0              I
1           like
2        reading
3  inspirational
4          books
    Name  Age
0  Manvi   26
1  Neeta   34
2  Shyam   16
3    Ram   19

## Dealing with Rows and Columns

In [32]:
#Column Selection

import pandas as pd

data = {'Name': ['Ram','Shyam','Mark','Harry'], 'Company':['TCS','Zomato','Google','Microsoft'],'Age': ['23','33','26','40']}

df = pd.DataFrame(data)

print(df[['Name','Company']])

    Name    Company
0    Ram        TCS
1  Shyam     Zomato
2   Mark     Google
3  Harry  Microsoft

In [33]:
#Row selection
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("COVID19_line_list_data.csv", index_col ="location")
 
# retrieving row by loc method
first = data.loc["Beijing"]
second = data.loc["Sichuan"]
 
print(first, "\n\n\n", second)

           id  case_in_country reporting date  Unnamed: 3  \
location
Beijing     8              NaN      1/21/2020         NaN
Beijing     9              NaN      1/21/2020         NaN
Beijing    10              NaN      1/21/2020         NaN
Beijing    11              NaN      1/21/2020         NaN
Beijing    12              NaN      1/21/2020         NaN
Beijing    36              NaN      1/22/2020         NaN
Beijing    37              NaN      1/22/2020         NaN
Beijing    38              NaN      1/22/2020         NaN
Beijing    39              NaN      1/22/2020         NaN
Beijing    92              NaN      1/24/2020         NaN
Beijing   117              NaN      1/25/2020         NaN
Beijing   146              NaN      1/21/2020         NaN
Beijing   147              NaN      1/21/2020         NaN
Beijing   148              NaN      1/25/2020         NaN
Beijing   170              NaN      1/27/2020         NaN
Beijing   171              NaN      1/27/2020         NaN
Beijing   172              NaN      1/27/2020         NaN
Beijing   173              NaN      1/27/2020         NaN

                                                    summary country  gender  \
location
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China  female
Beijing   new confirmed imported COVID-19 pneumonia pati...   China  female
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China  female
Beijing   new confirmed imported COVID-19 pneumonia pati...   China  female
Beijing   new recovered imported COVID-19 pneumonia pati...   China  female
Beijing   new recovered imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing   new confirmed imported COVID-19 pneumonia pati...   China    male
Beijing                                                 NaN   China    male
Beijing                                                 NaN   China  female
Beijing                                                 NaN   China    male
Beijing                                                 NaN   China  female

           age symptom_onset  If_onset_approximated  ... recovered symptom  \
location                                             ...
Beijing   37.0     1/14/2020                    0.0  ...         0     NaN
Beijing   39.0      01/09/20                    0.0  ...         0     NaN
Beijing   56.0     1/16/2020                    0.0  ...         0     NaN
Beijing   18.0     1/19/2020                    0.0  ...         0     NaN
Beijing   32.0    01/15/2020                    0.0  ...         0     NaN
Beijing   45.0     1/19/2020                    0.0  ...         0     NaN
Beijing   42.0     1/20/2020                    0.0  ...         0     NaN
Beijing   33.0           NaN                    NaN  ...         0     NaN
Beijing   33.0           NaN                    NaN  ...         0     NaN
Beijing    NaN           NaN                    NaN  ...         0     NaN
Beijing    NaN           NaN                    NaN  ...         0     NaN
Beijing    NaN     1/16/2020                    0.0  ...         0     NaN
Beijing    NaN     1/14/2020                    0.0  ...         0     NaN
Beijing    NaN     1/18/2020                    0.0  ...         0     NaN
Beijing   35.0     1/18/2020                    0.0  ...         0     NaN
Beijing    4.0     1/18/2020                    0.0  ...         0     NaN
Beijing   38.0     1/22/2020                    0.0  ...         0     NaN
Beijing   69.0      01/10/20                    0.0  ...         0     NaN

                                       source  \
location
Beijing   Beijing Municipal Health Commission
Beijing   Beijing Municipal Health Commission
Beijing   Beijing Municipal Health Commission
Beijing   Beijing Municipal Health Commission
Beijing   Beijing Municipal Health Commission
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  人民日报
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻
Beijing                                  央视新闻

                                                       link  Unnamed: 21  \
location
Beijing   http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...          NaN
Beijing   http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...          NaN
Beijing   http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...          NaN
Beijing   http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...          NaN
Beijing   http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...          NaN
Beijing         https://m.weibo.cn/status/4463681624289721?          NaN
Beijing         https://m.weibo.cn/status/4463681624289721?          NaN
Beijing         https://m.weibo.cn/status/4463681624289721?          NaN
Beijing         https://m.weibo.cn/status/4463681624289721?          NaN
Beijing         https://m.weibo.cn/status/4464259805726673?          NaN
Beijing         https://m.weibo.cn/status/4464576223073059?          NaN
Beijing         https://m.weibo.cn/status/4464865911441959?          NaN
Beijing         https://m.weibo.cn/status/4464865911441959?          NaN
Beijing         https://m.weibo.cn/status/4464865911441959?          NaN
Beijing         https://m.weibo.cn/status/4465361728673224?          NaN
Beijing         https://m.weibo.cn/status/4465361728673224?          NaN
Beijing         https://m.weibo.cn/status/4465361728673224?          NaN
Beijing         https://m.weibo.cn/status/4465361728673224?          NaN

         Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26
location
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN
Beijing          NaN         NaN         NaN         NaN         NaN

[18 rows x 26 columns]


           id  case_in_country reporting date  Unnamed: 3  \
location
Sichuan    7              NaN      1/21/2020         NaN
Sichuan   15              NaN      1/22/2020         NaN
Sichuan   24              NaN      1/22/2020         NaN
Sichuan   25              NaN      1/22/2020         NaN
Sichuan   26              NaN      1/22/2020         NaN
Sichuan   45              NaN      1/22/2020         NaN
Sichuan   46              NaN      1/22/2020         NaN
Sichuan   47              NaN      1/22/2020         NaN

                                                    summary country  gender  \
location
Sichuan   First confirmed imported COVID-19 pneumonia pa...   China    male
Sichuan   Second confirmed imported COVID-19 pneumonia p...   China    male
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China  female
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China    male
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China    male
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China    male
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China    male
Sichuan   new confirmed imported COVID-19 pneumonia pati...   China    male

           age symptom_onset  If_onset_approximated  ... recovered symptom  \
location                                             ...
Sichuan   34.0      01/11/20                    0.0  ...         0     NaN
Sichuan   57.0     1/16/2020                    0.0  ...         0     NaN
Sichuan   28.0     1/19/2020                    0.0  ...         0     NaN
Sichuan   37.0     1/20/2020                    0.0  ...         0     NaN
Sichuan   19.0     1/20/2020                    0.0  ...         0     NaN
Sichuan   50.0     1/18/2020                    0.0  ...         0     NaN
Sichuan   48.0     1/18/2020                    0.0  ...         0     NaN
Sichuan   36.0     1/18/2020                    0.0  ...         0     NaN

         source                                               link  \
location
Sichuan    央视新闻        https://m.weibo.cn/status/4463300522087848?
Sichuan    央视新闻  https://www.weibo.com/2656274875/IqzRU3150?fro...
Sichuan    央视新闻  https://www.weibo.com/2656274875/IqGDxbyp4?fro...
Sichuan    央视新闻  https://www.weibo.com/2656274875/IqGDxbyp4?fro...
Sichuan    央视新闻  https://www.weibo.com/2656274875/IqGDxbyp4?fro...
Sichuan    央视新闻        https://m.weibo.cn/status/4463841306422942?
Sichuan    央视新闻        https://m.weibo.cn/status/4463841306422942?
Sichuan    央视新闻        https://m.weibo.cn/status/4463841306422942?

          Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25  \
location
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN
Sichuan           NaN         NaN         NaN         NaN         NaN

         Unnamed: 26
location
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN
Sichuan          NaN

[8 rows x 26 columns]

## Indexing and selecting data

In [34]:
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("COVID19_line_list_data.csv", index_col ="age")
 
# retrieving columns by indexing operator
first = data["gender"]

print(first)

age
66.0      male
56.0    female
46.0      male
60.0    female
58.0      male
         ...
24.0       NaN
35.0       NaN
NaN       male
NaN       male
70.0      male
Name: gender, Length: 1085, dtype: object

In [38]:
#Indexing a dataframe using .iloc() parameter
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("COVID19_line_list_data.csv", index_col ="location")
 
# retrieving rows by iloc method 
row2 = data.iloc[3] 
 
print(row2)

id                                                                       4
case_in_country                                                        NaN
reporting date                                                   1/21/2020
Unnamed: 3                                                             NaN
summary                  new confirmed imported COVID-19 pneumonia in T...
country                                                              China
gender                                                              female
age                                                                     60
symptom_onset                                                          NaN
If_onset_approximated                                                  NaN
hosp_visit_date                                                  1/19/2020
exposure_start                                                         NaN
exposure_end                                                           NaN
visiting Wuhan                                                           1
from Wuhan                                                               0
death                                                                    0
recovered                                                                0
symptom                                                                NaN
source                                                            人民日报官方微博
link                           https://m.weibo.cn/status/4463235401268457?
Unnamed: 21                                                            NaN
Unnamed: 22                                                            NaN
Unnamed: 23                                                            NaN
Unnamed: 24                                                            NaN
Unnamed: 25                                                            NaN
Unnamed: 26                                                            NaN
Name: Tianjin, dtype: object

## Working with missing data

In [42]:
import pandas as pd
import numpy as np

data = {'Age':[23,56,45,np.nan], 'Score':[50,np.nan,85,45], 'Rank':[1,4,9,np.nan]}

df = pd.DataFrame(data)
df.isnull()

     Age  Score   Rank
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [43]:
df.fillna(0)

    Age  Score  Rank
0  23.0   50.0   1.0
1  56.0    0.0   4.0
2  45.0   85.0   9.0
3   0.0   45.0   0.0

In [44]:
df.dropna()

    Age  Score  Rank
0  23.0   50.0   1.0
2  45.0   85.0   9.0